<div class="changepassword">
  <img src="images/fpwd.png"/>
<h5>Change Password</h5>
<form id="frm-changepassword" action="/Login" method="POST">
  <div class="row center">
    <div class="input-field col s12">
      <input id="oldpassword" type="text" class="validate" name="OldPassword" required placeholder="Old Password" value=<%= oldpassword %>>
    </div>
  </div>
  <div class="row center">
    <div class="input-field col s12">
      <input id="newpassword" type="text" class="validate" name="NewPassword" required placeholder="New Password" value=<%= newpassword %>>
    </div>
  </div>
  <div class="row center">
    <div class="input-field col s12">
      <input id="confirmpassword" type="text" class="validate" name="ConfirmPassword" required placeholder="Confirm Password" value=<%= confirmpassword %>>
    </div>
  </div>
  <div class="row center">
    <button id="btn-changepassword" class="waves-effect waves-light btn center" type="submit">Change Password</button>
  </div>
   <div class="error"><%= message %></div>
</form>
</div>