<div class="dash">
    <img src="images/dash.png"/>
  <h5>Dashboard</h5>
  <form id="frm-dash" action="/Login" method="POST">
    <div class="row center">
        <button id="btn-findparking" class="waves-effect waves-light btn center" type="submit">Find Parking</button>
      </div>
    <div class="row center">
        <button id="btn-futureprediction" class="waves-effect waves-light btn center" type="submit">Future Prediction</button>
      </div>
    <div class="row center">
      <button id="btn-changepassword" class="waves-effect waves-light btn center" type="submit">Change Password</button>
    </div>
    <div class="row center">
        <button id="btn-parkinghistory" class="waves-effect waves-light btn center" type="submit">Parking History</button>
      </div>
  </form>
  </div>