<a href="/"><img src="images/spsf.png"/></a>
<h3>Smart Parking Spot Finder</h3>
<span>Melbourne</span>
<nav>
  <li><a href="/"><img class="header-btn" src="images/register.png"/></a>Register</li>
</nav>
