<a href="/"><img src="images/spsf.png"/></a>
<h3>Smart Parking Spot Finder</h3>
<span>Melbourne</span>
<nav>
  <%  if(loggedIn) { %>
    <li><a href="/logout"><img class="header-btn" src="images/signoff.png"/></a>Sign Off</form></li>
    <% } else { %>
      <%  if(signIn) { %>
           <li><a href="/"><img class="header-btn" src="images/user.png"/>Sign In</a></li>
        <% } else {%>
          <li><a href="/displayRegister"><img class="header-btn" src="images/register.png"/>Register</a></li>
    <% } %>
<%  } %>
</nav>

