<div class="navigation">
    <div class="mappanel">
        <div class="navgooglemapframe">

        </div>

        <div class="navbuttonpanel">
            <button id="btn-backdash" class="waves-effect waves-light btn center" type="submit">Dashboard</button>
        </div>
    </div>
    <div class="midpanel">
        <div class="navlistpanel">           
            <p class="listtitle">Directions to Parking</p>
        </div>
        <div class="navinfopanel">
            <div class="navinfo">
                <div class="input-field col s12">
                    <input id="time" type="text" class="validate" name="Time" required placeholder="Enter Time" value=<%= user %>>
                </div>  
                <img src="images/plus.png"/>
                <img src="images/min.png"/>        
            </div>
            <button id="btn-notify" class="waves-effect waves-light btn center" type="submit">Notify Me</button>
        </div>          
      
    </div>
</div>