<div class="navigation">
    <div class="mappanel">
        <div class="navgooglemapframe">
            <div id="map"></div>
        </div>
        <form id="frm-parkingmap-buttonpanel1" action="/parkingMapRoutesButtonPanel" method="POST">
            <input id="arrayparking" name="NavArray" type="hidden">
            <input id="arrayindexselected" name="NavArrayIndex" type="hidden">
            <div class="navbuttonpanel">
                <button id="btn-backdash" class="waves-effect waves-light btn center" name="Dashboard" value="dashboard" type="submit">Dashboard</button>
            </div>
        </form>
    </div>
    <div class="midpanel">
        <div class="navlistpanel">           
            <p class="listtitle">Directions for Parking</p>
        </div>
        <div class="navinfopanel">
            <form id="frm-parkingmap-buttonpanel1" action="/notify" method="POST">
                <div class="navinfo">                    
                    <div class="input-field col s12">
                        <input id="mobile" type="tel" class="form-control" maxlength="10" name="Mobile" required placeholder="Mobile No:(04XXXXXXXX)" 
                        oninvalid="this.setCustomValidity('Please use 04XXXXXXXX format')" oninput="this.setCustomValidity('')"pattern="^04[0-9]{8}$" value=<%= mobileno %>>
                    </div>  
                    <div class="input-field col s12">
                        <input id="time" type="text" class="form-control bs-timepicker" name="Time" required placeholder="Enter Time" value=<%= timer %>>
                    </div>  
                </div>
                <button id="btn-notify" class="waves-effect waves-light btn center" name="Notify" value="notify" type="submit">Notify Me</button>
            </form>
        </div>         
      
    </div>
</div>