<div class="parkingmap">   
    <div class="suburbpanel">
        Select Suburb to Change Location
        <select name="suburbs" id="suburblist">
            <option value="non"></option>
            <option value="carlton">Carlton</option>
            <option value="carltonnorth">Carlton North</option>
            <option value="docklands">Docklands</option>
            <option value="eastmelbourne">East Melbourne</option>
            <option value="flemington">Flemington</option>
            <option value="kensington">Kensington</option>
            <option value="melb3000">Melbourne 3000</option>
            <option value="melb3004">Melbourne 3004</option>
            <option value="northmelb">North Melbourne</option>
            <option value="parkville">Parkville</option>
            <option value="portmelb">Port Melbourne</option>
            <option value="southwarf">South Warf</option>
            <option value="southyarra">South Yarra</option>
            <option value="southbank">SouthBank</option>
            <option value="westmelb">West Melbourne</option>
        </select>
    </div>
    <div class="mappanel">
        <div class="googlemapframe">
            <div id="map"></div>
        </div>
        <form id="frm-parkingmap-buttonpanel" action="/parkingMapRoutesButtonPanel" method="POST">
            <div class="buttonpanel">
                <button id="btn-viewme" class="waves-effect waves-light btn center" name="Viewme" value="viewme" type="button">Recenter Your Location</button>
                <button id="btn-backdash" class="waves-effect waves-light btn center" name="Dashboard" value="dashboard" type="submit">Dashboard</button>
            </div> 
        </form>           
    </div>
    <form id="frm-parkingmap-midpanel" action="/parkingMapRoutesMidPanel" method="POST">
        <div class="midpanel">
            <div class="listpanel">
                <div class="parkinglistpanel">
                    <p class="listtitle">Available Parking</p>
                    <p><img src="images/on.png"/>On-street</p>                
                    <p> <img src="images/off.png"/>Off-street</p>
                    <p> <img src="images/opt.png"/>Best spot</p>
                    <p> <img src="images/you.png"/>You</p>
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img id="parking-img1"/><img id="parking-img12"/></td>
                            <td> <button id="btn-info1" class="waves-effect waves-light btn center" name="Info" value="1" type="button">Info</button></td>
                            <input id="info1-lat" name="Info1Lat" type="hidden">
                            <input id="info1-lon" name="Info1Lon" type="hidden">
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img id="parking-img2"/></td>
                            <td> <button id="btn-info2" class="waves-effect waves-light btn center" name="Info" value="2" type="button">Info</button></td>
                            <input id="info2-lat" name="Info2Lat" type="hidden">
                            <input id="info2-lon" name="Info2Lon" type="hidden">
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img id="parking-img3"/></td>
                            <td> <button id="btn-info3" class="waves-effect waves-light btn center" name="Info" value="3" type="button">Info</button></td>
                            <input id="info3-lat" name="Info3Lat" type="hidden">
                            <input id="info3-lon" name="Info3Lon" type="hidden">
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img id="parking-img4"/></td>
                            <td> <button id="btn-info4" class="waves-effect waves-light btn center" name="Info" value="4" type="button">Info</button></td>
                            <input id="info4-lat" name="Info4Lat" type="hidden">
                            <input id="info4-lon" name="Info4Lon" type="hidden">
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><img id="parking-img5"/></td>
                            <td> <button id="btn-info5" class="waves-effect waves-light btn center" name="Info" value="5" type="button">Info</button></td>
                            <input id="info5-lat" name="Info5Lat" type="hidden">
                            <input id="info5-lon" name="Info5Lon" type="hidden">
                        </tr>
                        
                    </table>
                    <input id="navarray" name="NavArray" type="hidden">
                    <input id="navarrayindexselected" name="NavArrayIndex" type="hidden">
                </div>
            </div>
            <div class="infopanel">
                <div class="info">
                    <p id="listno"></p>
                    <p id="bay"></p>
                    <p id="rate"></p>
                    <p id="distance"></p>
                    <p class="timelimit"></p>
                    <p id="descone"></p>
                    <p id="desctwo"></p>
                </div>
                <button id="btn-navigate" class="waves-effect waves-light btn center" name="Navigate" value="navigate" type="submit">Navigate</button>
            </div>          
        
        </div>
    </form>
</div>