<div class="sendpassword">
  <img src="images/fpwd.png"/>
<h5>Reset Password</h5>
<form id="frm-resetpassword" action="/displayResetPassword" method="POST">
  <div class="row center">
    <div class="input-field col s12">
      <input id="newpassword" type="password" class="validate" name="Password" required placeholder="password" value=<%= password %>>
    </div>
    <div class="input-field col s12">
      <input id="confirmpassword" type="password" class="validate" name="ConfirmPassword" required placeholder="confirm password" value=<%= confirmpassword %>>
    </div>
  <div class="row center">
    <button id="btn-resetpassword" name="ResetPassword" class="waves-effect waves-light btn center" type="submit">Reset Password</button>
  </div>
   <div class="error"><%= message %></div>
</form>
</div>