<div class="sendpassword">
  <img src="images/fpwd.png"/>
<h5>Send Password</h5>
<form id="frm-sendpassword" action="/displaySendPassword" method="POST">
  <div class="row center">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" name="Email" required placeholder="Email" value=<%= email %>>
    </div>
  <div class="row center">
    <button id="btn-sendpassword" name="SendEmail" class="waves-effect waves-light btn center" type="submit">Send Password</button>
  </div>
   <div class="error"><%= message %></div>
</form>
</div>